// Prevencion
.producto-prevencion{
    border-top: $prevencion solid 10px;
}
.producto-digestivo{
    border-top: $digestivo solid 10px;
}
.producto-cardio{
    border-top: $cardio solid 10px;
}
.producto-huesos{
    border-top: $huesos solid 10px;
}
.producto-femenina{
    border-top: $femenina solid 10px;
}
.producto-masculina{
    border-top: $masculina solid 10px;
}
.producto-memoria{
    border-top: $memoria solid 10px;
}
.producto-energia{
    border-top: $energia solid 10px;
}
.producto-dieta{
    border-top: $dieta solid 10px;
}
.producto-antioxidantes{
    border-top: $antioxidantes solid 10px;
}
.producto-relajacion{
    border-top: $relajacion solid 10px;
}