// Colore principal
$vitamin: #C4E699;
$vitamin-2: #849F2D;

// colores categorias
$cardio: #D0343A;
$prevencion: #ED8D00;
$digestivo: #007D32;
$huesos: #9AA49C;
$femenina: #E8659A;
$masculina: #27348B;
$memoria: #0094AA;
$energia: #FBBA37;
$dieta: #008BCB;
$antioxidantes: #D95499;
$relajacion: #15A1AE;

// Titulo y textos
$titulos: #707070;
$textos: #8E8E8E;